
body{
    font-family: 'Roboto', sans-serif;
}
h1{
 text-align: center; 
 border-radius: 50%;
    border: 1px solid #407088;
    width: 100px;
    height: 100px;
    margin: 20px auto; 
    padding-top: 25px;

}
h2{
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    opacity: 0.6;
}

.wrapper{
    max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}


.weekday{
    font-weight: bold;
    color: #B8C2CF;
}
.frame{
    border: 1px solid #407088;
border-radius: 4px;
padding: 10px, 5px;
}