
body{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background: #DDDDDD;
   }
form{
    text-align: center;
    font-size: 20px;
}
h1{
 text-align: center; 
 border-radius: 50%;
    border: 1px solid #546D8C;
    width: 110px;
    height: 110px;
    margin: 20px auto; 
    margin-bottom: 0;
    padding-top: 30px;
    font-weight: 600;
font-size: 40px;
}
h2{
    text-align: center;
    padding-top: 2px;
    font-size: 40px;
    opacity: 0.6;
    font-weight: 500;
    text-transform: capitalize;
  
}
ul{
    text-align: center;
    

}
li{
    list-style: none;
    padding:5px;
    padding-left: 40px;
    color: #2B394F;
    font-weight:  400;
    text-align: left;
    
}
a{
    text-decoration: none;
    color: #6E88A1;
}

.units{
    text-align: center;
    display: block;
}
.active{
  color:#2B394F;
  cursor: default;
 text-decoration: none;
}
.active:hover{
    text-decoration: none;
    color:#2B394F;
}

.wrapper{
    max-width: 600px;
  margin: 30px auto;
  margin-bottom: 0px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
}
 button.location{
    background-color:#6E88A1 ;
    border-color: #fff;
    transition-duration:0.4s ;
}
button.location:hover{
    background-color: #546D8C;

}

    button.location:focus{
 background-color: #546D8C;
 
}
    

button.search{
  background-color: #6E88A1;
    border-color: #fff;
    transition-duration: 0.4s; 
    
}
button.search:hover{
    background-color: #546D8C;
}
button.search:focus{
     background-color: #546D8C;}

.time{
      text-align: center;
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 19px;
  } 
.weekday{
    font-weight: bold;
    color: #DDDDDD;
    font-size: 19px;
}
.frame{
    border: 1px solid #546D8C;
border-radius: 4px;
padding: 20px, 5px;
font-weight: 400;
}
.source{
   max-width: 600px;
  margin: 0px auto; 
  margin-bottom: 40px;
  font-size: small;
  padding-top: 2px;
  color:#2B394F;
  
} 
.gitlink{
    color: #6E88A1;
}
.gitlink:hover{
    color: #2B394F;
}
